h1.text-center create book
		form(action="/create", method="POST", enctype="multipart/form-data")
			.container
				.form-group
					label(for='name') products
					input.form-control(type="text" name="products")
					small#emailHelp.form-text.text-muted
				.form-group
					label(for="imgeFile")
					input.form-control.file(type="file" name="imgeFile") 
				.form-group
					label(for='conten') price
					input.form-control(type="text" name="price")
				.form-group
					label(for='conten') species
					input.form-control(type="text" name="species")
				.form-group
					label(for='conten') describe
					input.form-control(type="text" name="describe")
				.form-group
					label(for='conten') date
					input.form-control(type="text" name="date")
				button.btn.btn-primary(type='submit') Add
