


h1.text-center create book
	form(action="/create", method="POST")
		.container
			.form-group
				label Name
				input.form-control(type="text", name="products" )
				small#emailHelp.form-text.text-muted
			.form-group
				label species
				input.form-control(type="text", name="species" )
			button.btn.btn-primary Add

